<h1><%=@post.title%></h1>
<p>
  <%=@post.content%>
</p>

<p>
  <ul>
    <%@post.categories.each do |cat|%>
      <li>
        <%=cat.name%>
      </li>
  </ul>
  
</p>

<h4>Comments:</h4>
<table>
  <% @post.comments.each do |comment|%>
    <tr>
      <td>
        <%=link_to comment.user.username, user_path(comment.user)%>
      </td>
      <td>
        <%=comment.content%>
      </td>
    </tr>
  <%end%>
</table>

<h4>Add a New Comment: </h4>

<%= form_for :comment_attributes do |f|%><br />
  User: <%=f.collection_select :user_id, User.all, :id, :username%><br />
  New User: <%=f.text_field :username%>
  New User Email: <%=f.text_field :email%>
  Content:<%=f.text_field :content%><br />

  <%=f.submit%>
<%end%>


<h4>Active Users:</h4>
<ul>
  <% @post.users.each do |user|%>
    <li>
      <%=user.username%>
    </li>

  <%end%>
</ul>
